/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Import SASS Base Partial */
/* Variables */
/* Mix-ins */
/* Icon Font */
@font-face {
  font-family: 'bkp';
  src: url("../fonts/bkp.eot");
  src: url("../fonts/bkp.eot?#iefix") format("embedded-opentype"), url("../fonts/bkp.woff") format("woff"), url("../fonts/bkp.ttf") format("truetype"), url("../fonts/bkp.svg#bkp") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../sass/global.scss */
p.icon {
  font-family: 'bkp';
  font-size: 24px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../sass/global.scss */
body {
  font-family: Georgia, "Chaparral Pro", "Times New Roman", Times, serif;
  color: #333333;
  font-weight: 300;
  background: url(../images/bk_body.png);
}

/* line 30, ../sass/global.scss */
p {
  font-size: 125%;
  /* 16px in Chrome for Mac */
  line-height: 150%;
}

/* line 35, ../sass/global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* line 40, ../sass/global.scss */
h1 {
  font-size: 1.355em;
}
/* line 42, ../sass/global.scss */
h1.title {
  font-size: 2.75em;
  /* approx 36px */
}

/* line 47, ../sass/global.scss */
h2 {
  font-size: 1.3em;
}
/* line 49, ../sass/global.scss */
h2.block-title {
  font-size: 1.5em;
  padding-bottom: 0.4em;
}

/* line 55, ../sass/global.scss */
h3 {
  font-size: 1.25em;
}

/* line 59, ../sass/global.scss */
h4 {
  font-size: 1.15em;
}

/* Link Styling */
/* line 65, ../sass/global.scss */
a:link {
  text-decoration: none;
  color: #991f1f;
}
/* line 69, ../sass/global.scss */
a:hover, a:active {
  text-decoration: underline;
}
/* line 72, ../sass/global.scss */
a:focus {
  outline: none;
}
/* line 75, ../sass/global.scss */
a:visited {
  color: #873131;
}

/*** Sidebar Styling ***/
/* line 82, ../sass/global.scss */
#region-sidebar-second .block {
  padding-bottom: 1.5em;
}
/* line 84, ../sass/global.scss */
#region-sidebar-second .block p {
  font-size: 1.1em;
  line-height: 140%;
}

/* line 90, ../sass/global.scss */
#region-sidebar-second .followus p.icon {
  font-size: 32px;
  display: inline;
  padding-right: 0.6em;
  color: #991f1f;
}

/* Search Box Styling */
/* line 98, ../sass/global.scss */
#block-search-form input.form-submit[type="submit"] {
  background: #991f1f;
  color: #FFF;
  font-size: 0.85em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: none;
  border: 4px solid #991f1f;
  border-radius: 60px;
  margin-left: 1em;
}
/* line 109, ../sass/global.scss */
#block-search-form input.form-submit[type="submit"]:hover {
  background: transparent;
  color: #991f1f;
}

/* Issue Sidebars Styling */
/* line 118, ../sass/global.scss */
#region-sidebar-first .issue h2, #region-sidebar-second .issue h2 {
  font-variant: small-caps;
  font-size: 1.25em;
  border-bottom: 2px solid #991f1f;
}
/* line 123, ../sass/global.scss */
#region-sidebar-first .issue p, #region-sidebar-second .issue p {
  font-size: 1.1em;
  line-height: 175%;
  padding: 0;
  margin: 0;
}
/* line 128, ../sass/global.scss */
#region-sidebar-first .issue p.ind, #region-sidebar-second .issue p.ind {
  padding-left: 1.5em;
}
/* line 131, ../sass/global.scss */
#region-sidebar-first .issue p.ind2, #region-sidebar-second .issue p.ind2 {
  padding-left: 3em;
}

/* line 137, ../sass/global.scss */
#region-sidebar-first .issue, #region-sidebar-second .issue {
  padding-bottom: 2em;
}

/* Responsive Images & Embeds */
/* line 142, ../sass/global.scss */
img, embed, object, video {
  max-width: 100%;
  height: auto;
}

/* Logo Positioning */
/* line 148, ../sass/global.scss */
#region-user-first {
  float: left;
  padding: 20px 0px 0px 0px;
}

/* All Menus Styling */
/* line 154, ../sass/global.scss */
#region-menu ul.menu li, #region-branding ul.menu li {
  list-style-image: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 159, ../sass/global.scss */
#region-menu ul.menu li a, #region-branding ul.menu li a {
  display: block;
  color: #FFF;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

/****** Mobile Menu Styling ******/
/* Mobile Menu Icon Positioning */
/* line 169, ../sass/global.scss */
#region-branding {
  padding-bottom: 1em;
}

/* line 173, ../sass/global.scss */
#region-branding p {
  padding-left: 0.5em;
  display: inline;
  cursor: pointer;
}

/* line 180, ../sass/global.scss */
#region-menu {
  display: none;
}

/* line 184, ../sass/global.scss */
#region-branding p#menu {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-variant: small-caps;
  font-weight: bold;
  color: #991f1f;
  position: relative;
  top: -4px;
}

/* line 194, ../sass/global.scss */
#region-menu ul.menu {
  padding-bottom: 1.5em;
}
/* line 198, ../sass/global.scss */
#region-menu ul.menu li:last-child {
  border-bottom: 5px solid #991f1f;
}
/* line 202, ../sass/global.scss */
#region-menu ul.menu li a {
  font-size: 125%;
  padding: 0.5em 1.333em;
  color: #000;
}
/* line 207, ../sass/global.scss */
#region-menu ul.menu li a:hover {
  background: #991f1f;
  color: #FFF;
  text-shadow: 1px 1px #666;
}

/* Additional Text Styling */
/* line 217, ../sass/global.scss */
.smallcaps {
  font-variant: small-caps;
}

/* line 221, ../sass/global.scss */
blockquote {
  border-left: 1px dashed #AAAAAA;
  color: #555;
  font-style: italic;
  line-height: 18px;
  margin: 15px 0 15px 20px;
  padding-left: 20px;
}

/* Staff Pics */
/* line 231, ../sass/global.scss */
img.staffpic {
  float: left;
  padding: 0px 15px 0px 0px;
  background: none;
}

/* Footer */
/* line 238, ../sass/global.scss */
div#zone-footer-wrapper {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 243, ../sass/global.scss */
#region-footer-first p {
  padding-top: 1em;
  color: #FFF;
  text-shadow: 1px 1px #666;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.85em;
  letter-spacing: 0.09em;
}

/* line 253, ../sass/global.scss */
#region-footer-first p a {
  text-shadow: none;
  font-weight: 700;
  color: light(#991f1f, 15%);
}

/**** Buttons ****/
/* Button Positioning */
/* line 261, ../sass/global.scss */
#region-user-second .btn-3a {
  margin: 10px 10px;
}

/* General button style (reset) */
/* line 266, ../sass/global.scss */
.btn {
  border: none;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: none;
  font-size: 14px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 284, ../sass/global.scss */
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 3 */
/* line 295, ../sass/global.scss */
.btn-3 {
  background: #991f1f;
  color: #fff;
}
/* line 299, ../sass/global.scss */
.btn-3:hover {
  background: #841b1b;
}
/* line 303, ../sass/global.scss */
.btn-3:active {
  background: #6f1616;
  top: 2px;
}
/* line 308, ../sass/global.scss */
.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0px;
  line-height: 2.25;
  font-size: 140%;
  min-width: 60px;
}

/* Button 3a */
/* line 320, ../sass/global.scss */
.btn-3a {
  padding: 15px 13px 15px 69px;
}
/* line 323, ../sass/global.scss */
.btn-3a:before {
  font-family: 'bkp';
  font-size: 24px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background: rgba(0, 0, 0, 0.05);
}

/* line 329, ../sass/global.scss */
.btn-3b {
  padding-right: 22px;
  width: 225px;
}

/* Mobile Only Button Styling */
/* line 335, ../sass/global.scss */
button#submitbtn {
  display: none;
}

/* line 339, ../sass/global.scss */
button#currentbtn {
  display: none;
}

/*** ICONS ***/
/* line 344, ../sass/global.scss */
.icon-eye:before, .icon-pen:before {
  line-height: 2;
}

/* line 348, ../sass/global.scss */
.icon-eye:before {
  content: "\e006";
}

/* line 352, ../sass/global.scss */
.icon-pen:before {
  content: "\e013";
}

/* line 356, ../sass/global.scss */
.icon-pdf:before {
  content: "\e002";
}

/* line 360, ../sass/global.scss */
.icon-pdf:before, .icon-ebook:before, .icon-money:before, .icon-fire:before {
  line-height: 1.75;
}

/* line 364, ../sass/global.scss */
.icon-ebook:before {
  content: "\f02d";
}

/* line 368, ../sass/global.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 372, ../sass/global.scss */
.icon-fire:before {
  content: "\f27f";
}

/* line 376, ../sass/global.scss */
.icon-menu:before {
  content: "\f039";
}

/**** Responsiveness for Views Slideshow *****/
/* line 381, ../sass/global.scss */
.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}

/* line 385, ../sass/global.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}

/* line 389, ../sass/global.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}

/* line 393, ../sass/global.scss */
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}

/* line 397, ../sass/global.scss */
.views_slideshow_cycle_main .field-content img {
  max-width: 600px;
  max-height: 450px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
