/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Import SASS Base Partial */
/* Variables */
/* Mix-ins */
/* Icon Font */
@font-face {
  font-family: 'bkp';
  src: url("../fonts/bkp.eot");
  src: url("../fonts/bkp.eot?#iefix") format("embedded-opentype"), url("../fonts/bkp.woff") format("woff"), url("../fonts/bkp.ttf") format("truetype"), url("../fonts/bkp.svg#bkp") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../sass/global.scss */
p.icon {
  font-family: 'bkp';
  font-size: 24px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../sass/global.scss */
span.icon {
  font-family: 'bkp';
  font-size: 24px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: #991f1f;
  padding-left: 0.75em;
}

/* line 30, ../sass/global.scss */
body {
  font-family: Georgia, "Chaparral Pro", "Times New Roman", Times, serif;
  color: #333333;
  font-weight: 300;
  background: url(../images/bk_body.png);
}

/* line 37, ../sass/global.scss */
p {
  font-size: 125%;
  /* 16px in Chrome for Mac */
  line-height: 150%;
}

/* line 42, ../sass/global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* line 47, ../sass/global.scss */
h1 {
  font-size: 1.355em;
}
/* line 49, ../sass/global.scss */
h1.title {
  font-size: 2.75em;
  /* approx 36px */
}

/* line 54, ../sass/global.scss */
h2 {
  font-size: 1.3em;
}
/* line 56, ../sass/global.scss */
h2.block-title {
  font-size: 1.5em;
  padding-bottom: 0.4em;
}

/* line 62, ../sass/global.scss */
h3 {
  font-size: 1.25em;
}

/* line 66, ../sass/global.scss */
h4 {
  font-size: 1.15em;
}

/* line 70, ../sass/global.scss */
blockquote em {
  font-style: normal;
}

/* Link Styling */
/* line 76, ../sass/global.scss */
a:link {
  text-decoration: none;
  color: #991f1f;
}
/* line 80, ../sass/global.scss */
a:hover, a:active {
  text-decoration: underline;
}
/* line 83, ../sass/global.scss */
a:focus {
  outline: none;
}
/* line 86, ../sass/global.scss */
a:visited {
  color: #873131;
}

/*** Frontpage Delta Styling ***/
/* line 93, ../sass/global.scss */
body.front #region-user-second button#submitbtn {
  display: none;
}
/* line 97, ../sass/global.scss */
body.front #region-content .slideshow-image {
  position: relative;
}
/* line 100, ../sass/global.scss */
body.front #region-content .slideshow-caption {
  position: relative;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em 2em 0.25em 0.75em;
}
/* line 107, ../sass/global.scss */
body.front #region-content .slideshow-caption a {
  color: #FFF;
  font-weight: 700;
  text-decoration: underline;
}
/* line 115, ../sass/global.scss */
body.front .frommag ul {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  list-style: none;
}
/* line 119, ../sass/global.scss */
body.front .frommag ul li {
  padding-bottom: 0.85em;
}
/* line 123, ../sass/global.scss */
body.front .frommag p.more {
  display: none;
}
/* line 126, ../sass/global.scss */
body.front .fromblog {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 129, ../sass/global.scss */
body.front .fromblog div.blogdate {
  font-family: Georgia, "Chaparral Pro", "Times New Roman", Times, serif;
  font-size: 0.9em;
  font-weight: 300;
  padding-bottom: 1.5em;
}
/* line 136, ../sass/global.scss */
body.front #region-postscript-first {
  margin-top: 0em;
  padding-top: 0.55em;
}
/* line 140, ../sass/global.scss */
body.front #region-postscript-third {
  padding-bottom: 1.5em;
}

/*** End Frontpage Delta Styling ***/
/*** Sidebar Styling ***/
/* line 148, ../sass/global.scss */
#region-sidebar-second .block {
  padding-bottom: 1.5em;
}
/* line 150, ../sass/global.scss */
#region-sidebar-second .block p {
  font-size: 1.1em;
  line-height: 140%;
}
/* line 154, ../sass/global.scss */
#region-sidebar-second .block ul {
  list-style: none;
}

/* line 159, ../sass/global.scss */
#region-sidebar-second .followus p.icon {
  font-size: 32px;
}

/* Social Icon Styling (All Locations) */
/* line 164, ../sass/global.scss */
.followus p.icon {
  font-size: 32px;
  display: inline;
  padding-right: 0.4em;
  color: #991f1f;
}
/* line 169, ../sass/global.scss */
.followus p.icon#tumblr {
  font-size: 27px;
  vertical-align: 2px;
}
/* line 174, ../sass/global.scss */
.followus p.icon a:link {
  color: #991f1f;
}
/* line 177, ../sass/global.scss */
.followus p.icon a:hover, .followus p.icon a:active {
  text-decoration: none;
  color: #6b4d4d;
}
/* line 181, ../sass/global.scss */
.followus p.icon a:focus {
  outline: none;
}
/* line 184, ../sass/global.scss */
.followus p.icon a:visited {
  color: #991f1f;
}

/* Search Button Styling */
/* line 193, ../sass/global.scss */
#block-search-form input.form-submit[type="submit"] {
  background: #991f1f;
  color: #FFF;
  font-size: 0.85em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: none;
  border: 4px solid #991f1f;
  border-radius: 60px;
  margin-left: 1em;
}
/* line 204, ../sass/global.scss */
#block-search-form input.form-submit[type="submit"]:hover {
  background: transparent;
  color: #991f1f;
}

/* Sibebar More Link Styling */
/* line 211, ../sass/global.scss */
#region-sidebar-second p.more {
  margin-top: -1em;
  font-size: 90%;
  text-decoration: underline;
}

/* Issue Sidebars Styling */
/* line 219, ../sass/global.scss */
#region-sidebar-first .issue h2, #region-sidebar-second .issue h2 {
  font-variant: small-caps;
  font-size: 1.25em;
  border-bottom: 2px solid #991f1f;
}
/* line 224, ../sass/global.scss */
#region-sidebar-first .issue p, #region-sidebar-second .issue p {
  font-size: 1.1em;
  line-height: 175%;
  padding: 0;
  margin: 0;
}
/* line 229, ../sass/global.scss */
#region-sidebar-first .issue p.ind, #region-sidebar-second .issue p.ind {
  padding-left: 1.5em;
}
/* line 232, ../sass/global.scss */
#region-sidebar-first .issue p.ind2, #region-sidebar-second .issue p.ind2 {
  padding-left: 3em;
}

/* line 238, ../sass/global.scss */
#region-sidebar-first .issue, #region-sidebar-second .issue {
  padding-bottom: 2em;
}

/* Responsive Images & Embeds */
/* line 243, ../sass/global.scss */
img, embed, object, video {
  max-width: 100%;
  height: auto;
}

/* Logo Positioning */
/* line 253, ../sass/global.scss */
#region-user-first {
  float: left;
  padding: 20px 0px 0px 0px;
}

/* All Menus Styling */
/* line 259, ../sass/global.scss */
#region-menu ul.menu li, #region-branding ul.menu li {
  list-style-image: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 264, ../sass/global.scss */
#region-menu ul.menu li a, #region-branding ul.menu li a {
  display: block;
  color: #FFF;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

/****** Mobile Menu Styling ******/
/* Mobile Menu Icon Positioning */
/* line 274, ../sass/global.scss */
#region-branding {
  padding-bottom: 1em;
}

/* line 278, ../sass/global.scss */
#region-branding p {
  padding-left: 0.5em;
  display: inline;
  cursor: pointer;
}

/* line 285, ../sass/global.scss */
#region-menu {
  display: none;
}

/* line 289, ../sass/global.scss */
#region-branding p#menu {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-variant: small-caps;
  font-weight: bold;
  color: #991f1f;
  position: relative;
  top: -4px;
}

/* line 299, ../sass/global.scss */
#region-menu ul.menu {
  padding-bottom: 1.5em;
}
/* line 303, ../sass/global.scss */
#region-menu ul.menu li:last-child {
  border-bottom: 5px solid #991f1f;
}
/* line 307, ../sass/global.scss */
#region-menu ul.menu li a {
  font-size: 130%;
  padding: 0.5em 1.333em;
  color: #000;
}
/* line 312, ../sass/global.scss */
#region-menu ul.menu li a:hover {
  background: #991f1f;
  color: #FFF;
  text-shadow: 1px 1px #666;
}

/* Additional Text Styling */
/* line 322, ../sass/global.scss */
.smallcaps {
  font-variant: small-caps;
}

/* line 326, ../sass/global.scss */
blockquote {
  border-left: 1px dashed #AAAAAA;
  color: #555;
  font-style: italic;
  line-height: 18px;
  margin: 15px 0 15px 20px;
  padding-left: 20px;
}

/* Masthead/Staff Page */
/* line 337, ../sass/global.scss */
div.staff {
  padding-bottom: 0.5em;
}
/* line 340, ../sass/global.scss */
div.staff img {
  float: left;
  padding: 0px 15px 0px 0px;
  background: none;
}

/* Footer */
/* line 348, ../sass/global.scss */
div#zone-footer-wrapper {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 353, ../sass/global.scss */
#region-footer-first p {
  padding-top: 1em;
  color: #FFF;
  text-shadow: 1px 1px #666;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.85em;
  letter-spacing: 0.09em;
}

/* line 363, ../sass/global.scss */
#region-footer-first p a {
  text-shadow: none;
  font-weight: 700;
  color: light(#991f1f, 15%);
}

/**** Buttons ****/
/* Button Positioning */
/* line 371, ../sass/global.scss */
#region-user-second .btn-3a {
  margin: 10px 10px;
}

/* General button style (reset) */
/* line 376, ../sass/global.scss */
.btn {
  border: none;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: none;
  font-size: 14px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 394, ../sass/global.scss */
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 3 */
/* line 405, ../sass/global.scss */
.btn-3 {
  background: #991f1f;
  color: #fff;
}
/* line 409, ../sass/global.scss */
.btn-3:hover {
  background: #841b1b;
}
/* line 413, ../sass/global.scss */
.btn-3:active {
  background: #6f1616;
  top: 2px;
}
/* line 418, ../sass/global.scss */
.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0px;
  line-height: 2.25;
  font-size: 140%;
  min-width: 60px;
}

/* Button 3a */
/* line 430, ../sass/global.scss */
.btn-3a {
  padding: 15px 13px 15px 69px;
}
/* line 433, ../sass/global.scss */
.btn-3a:before {
  font-family: 'bkp';
  font-size: 24px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background: rgba(0, 0, 0, 0.05);
}

/* line 439, ../sass/global.scss */
.btn-3b {
  padding-right: 22px;
  width: 225px;
  font-size: 0.75em;
}

/* Mobile Only Button Styling */
/* line 446, ../sass/global.scss */
button#submitbtn {
  display: none;
}

/* line 450, ../sass/global.scss */
button#currentbtn {
  display: none;
}

/*** ICONS ***/
/* line 455, ../sass/global.scss */
.icon-eye:before, .icon-pen:before {
  line-height: 2;
}

/* line 459, ../sass/global.scss */
.icon-eye:before {
  content: "\e006";
}

/* line 463, ../sass/global.scss */
.icon-pen:before {
  content: "\e013";
}

/* line 467, ../sass/global.scss */
.icon-pdf:before {
  content: "\e002";
}

/* line 471, ../sass/global.scss */
.icon-pdf:before, .icon-ebook:before, .icon-money:before, .icon-fire:before {
  line-height: 1.75;
}

/* line 475, ../sass/global.scss */
.icon-ebook:before {
  content: "\f02d";
}

/* line 479, ../sass/global.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 483, ../sass/global.scss */
.icon-fire:before {
  content: "\f27f";
}

/* line 487, ../sass/global.scss */
.icon-menu:before {
  content: "\f039";
}

/**** Responsiveness for Views Slideshow *****/
/* line 492, ../sass/global.scss */
.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}

/* line 496, ../sass/global.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}

/* line 500, ../sass/global.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}

/* line 504, ../sass/global.scss */
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}

/* line 508, ../sass/global.scss */
.views_slideshow_cycle_main .field-content img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/*** Table Styling **/
/* All Tables Styling */
/* line 517, ../sass/global.scss */
table {
  width: 100%;
}

/* line 521, ../sass/global.scss */
tr.even td {
  background: rgba(0, 0, 0, 0.2);
}

/* Mobile-Only Table Styling */
/* line 526, ../sass/global.scss */
td.views-field-field-image {
  width: 125px;
}

/* line 530, ../sass/global.scss */
td.views-field-field-image img {
  padding: 0.5em;
}

/* line 534, ../sass/global.scss */
td.views-field-body {
  display: none;
  font-size: 0.75em;
}

/* line 539, ../sass/global.scss */
td.views-field-title {
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 545, ../sass/global.scss */
td.views-field-title a {
  display: block;
  font-size: 1em;
  text-align: center;
}

/*** Work Styling ***/
/* line 552, ../sass/global.scss */
audio {
  padding-bottom: 1em;
}

/* line 556, ../sass/global.scss */
#region-content div.field-name-field-notes {
  float: right;
  margin-top: 1em;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  padding-right: 1em;
  padding-bottom: 0;
  height: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 572, ../sass/global.scss */
#region-content div.field-name-field-notes p {
  font-size: 0.95em;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 578, ../sass/global.scss */
#region-content div.field-name-field-notes a {
  color: #FFF;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: underline;
}
/* line 584, ../sass/global.scss */
#region-content div.field-name-field-notes span.icon {
  font-family: 'bkp';
  font-size: 24px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #991f1f;
  padding-right: 0.5em;
  font-size: 16px;
}

/* line 593, ../sass/global.scss */
div#work p.epigraph {
  font-size: 100%;
}
/* line 596, ../sass/global.scss */
div#work p.author {
  margin-top: -1em;
  padding-left: 2.5em;
  padding-bottom: 2em;
}
/* line 600, ../sass/global.scss */
div#work p.author em {
  font-variant: small-caps;
}
/* line 604, ../sass/global.scss */
div#work h1, div#work h2, div#work h3, div#work h4, div#work h5, div#work h6 {
  font-family: Georgia, "Chaparral Pro", "Times New Roman", Times, serif;
}
/* line 607, ../sass/global.scss */
div#work h2 {
  font-size: 1.5em;
}
/* line 610, ../sass/global.scss */
div#work h3 {
  font-size: 1.3em;
}
/* line 613, ../sass/global.scss */
div#work .dropcap {
  float: left;
  font-size: 400%;
  margin-top: 14px;
  margin-right: 5px;
  color: #991f1f;
}
/* line 620, ../sass/global.scss */
div#work .red {
  font-weight: bold;
  color: #991f1f;
}
/* line 625, ../sass/global.scss */
div#work #toc ul {
  list-style: none;
}
/* line 627, ../sass/global.scss */
div#work #toc ul li {
  font-size: 150%;
  line-height: 150%;
}
/* line 634, ../sass/global.scss */
div#work blockquote {
  font-size: 115%;
  line-height: 150%;
}
/* line 638, ../sass/global.scss */
div#work sup {
  vertical-align: super;
  font-size: 0.75em;
}
/* line 642, ../sass/global.scss */
div#work div.pullquote {
  color: #991f1f;
  font-size: 125%;
  padding: 0 3em;
}

/* line 650, ../sass/global.scss */
div.poetry p {
  line-height: 130%;
  padding-bottom: 0;
  margin-bottom: 0;
  text-indent: -2em;
  margin-left: 2em;
}
/* line 657, ../sass/global.scss */
div.poetry p.beforebreak {
  padding-bottom: 1.5em;
}
/* line 660, ../sass/global.scss */
div.poetry p.indent2 {
  padding-left: 2em;
}

/* line 665, ../sass/global.scss */
div#bio {
  border-top: 2px solid #991f1f;
  padding-top: 0.75em;
}
/* line 668, ../sass/global.scss */
div#bio p {
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 1em;
}

/** Blog Entry Styling **/
/* line 676, ../sass/global.scss */
div.field-type-datetime {
  margin-top: -1.5em;
  padding-bottom: 1.5em;
}

/** Blog Page pager **/
/* line 681, ../sass/global.scss */
.item-list .pager {
  padding-bottom: 2.5em;
}

/* line 685, ../sass/global.scss */
.pager {
  padding-bottom: 2.5em;
  background: none;
  border: none;
  border-color: none;
  border-radius: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
}
/* line 693, ../sass/global.scss */
.pager li {
  border-right: none;
  border-color: none;
  border: 1px solid #991f1f;
}
/* line 697, ../sass/global.scss */
.pager li.pager-next, .pager li.pager-last, .pager li.pager-first, .pager li.pager-previous, .pager li.pager-last.last {
  position: relative;
  top: 0;
  right: 0;
  background: none;
  background-color: none;
  border: 1px solid #991f1f;
}
/* line 705, ../sass/global.scss */
.pager li.first, .pager li.first a, .pager li.first a:hover, .pager li.pager-last, .pager li.pager-last a, .pager li.pager-last a:hover {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: none;
  background-color: none;
}
/* line 712, ../sass/global.scss */
.pager li a {
  background: none;
}

/* line 718, ../sass/global.scss */
.pager li.pager-next, .pager li.pager-last, .pager li.pager-first, .pager li.pager-previous, li.pager-last.last {
  position: relative;
  top: 0;
  right: 0;
  background: none;
  background-color: none;
  border: 1px solid #991f1f;
}

/* line 727, ../sass/global.scss */
.pager li.pager-last, .pager li.pager-last a, .pager li.pager-last a:hover {
  border-radius: none !important;
  -moz-border-radius: none !important;
  -webkit-border-radius: none !important;
}

/* line 733, ../sass/global.scss */
.pager li.first, .pager li.first a, .pager li.first a:hover {
  background-color: none !important;
}

/* line 737, ../sass/global.scss */
p.online-item {
  margin: 0 0.3em 0.3em 0.6em;
}
