/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/* Import SASS Base Partial */
/* Variables */
/* Mix-ins */
/*** Frontpage Delta Styling ***/
/* line 10, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front #region-user-first img {
  width: 357px;
  height: 100px;
}
/* line 14, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front button#currentbtn {
  margin-top: 3.55em;
}
/* line 17, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front #region-postscript-first, body.front #region-postscript-second, body.front #region-postscript-third {
  margin-top: 0.25em;
  padding-top: 0em;
}
/* line 21, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front #region-postscript-third {
  padding-bottom: 0;
}

/* End Frontpage Delta Styling */
/* line 26, ../sass/pdr-omega-alpha-default-narrow.scss */
#region-user-second ul {
  float: none;
  padding: 49px 0 0 0;
}

/* Button Show */
/* line 32, ../sass/pdr-omega-alpha-default-narrow.scss */
button#submitbtn {
  display: inline;
}

/* line 36, ../sass/pdr-omega-alpha-default-narrow.scss */
button#currentbtn {
  display: inline;
}

/*** REGION & ZONE POSITIONING ***/
/* line 41, ../sass/pdr-omega-alpha-default-narrow.scss */
#block-search-form {
  padding-top: 10px;
}
