/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* Import SASS Base Partial */
/* Variables */
/* Mix-ins */
/* Main Menu Show */
/* line 9, ../sass/pdr-omega-alpha-default-normal.scss */
#region-menu {
  display: inline !important;
}

/* Mobile Menu Hide */
/* line 14, ../sass/pdr-omega-alpha-default-normal.scss */
#region-branding p {
  display: none;
}

/* Text Positioning */
/* line 19, ../sass/pdr-omega-alpha-default-normal.scss */
p {
  padding-right: 0.3em;
}

/*** REGION & ZONE POSITIONING ***/
/* line 24, ../sass/pdr-omega-alpha-default-normal.scss */
#region-user-second {
  float: right;
  padding: 40px 0px 0px 0px;
}

/* line 29, ../sass/pdr-omega-alpha-default-normal.scss */
#region-user-second .btn-3a {
  margin: 10px 25px;
}

/* line 33, ../sass/pdr-omega-alpha-default-normal.scss */
div#zone-content, div#zone-header {
  padding-top: 20px;
}

/* line 37, ../sass/pdr-omega-alpha-default-normal.scss */
#region-sidebar-first .issue, #region-sidebar-second .issue {
  margin-top: 75px;
}

/* MAIN MENU STYLING */
/* line 42, ../sass/pdr-omega-alpha-default-normal.scss */
div#zone-menu-wrapper {
  border-top: 1px solid #991f1f;
  border-bottom: 1px solid #991f1f;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 48, ../sass/pdr-omega-alpha-default-normal.scss */
#region-menu ul.menu {
  display: inline;
  padding: 0;
  margin: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}
/* line 56, ../sass/pdr-omega-alpha-default-normal.scss */
#region-menu ul.menu li {
  /* Unsetting global styles */
  border-top: none;
  border-bottom: none;
  padding-right: 0;
  float: left;
  width: auto;
}
/* line 64, ../sass/pdr-omega-alpha-default-normal.scss */
#region-menu ul.menu li:last-child {
  border: none;
}
/* line 68, ../sass/pdr-omega-alpha-default-normal.scss */
#region-menu ul.menu li a {
  display: block;
  padding: 1.2em 15px 0.5em 15px;
  font-size: 14px;
  text-transform: uppercase;
  height: 28px;
  color: #991f1f;
  font-weight: 700;
  overflow: visible;
}
/* line 78, ../sass/pdr-omega-alpha-default-normal.scss */
#region-menu ul.menu li a:hover {
  background: #991f1f;
  color: #FFF;
  text-shadow: 1px 1px #666;
}
