/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/* Import SASS Base Partial */
/* Variables */
/* Mix-ins */
/*** Frontpage Delta Styling ***/
/* line 10, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front #region-user-first img {
  width: 357px;
  height: 100px;
}
/* line 14, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front #region-user-second {
  display: block;
  height: 100px;
}
/* line 17, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front #region-user-second h2 {
  display: none;
}
/* line 20, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front #region-user-second p {
  font-size: 90%;
  line-height: 125%;
  margin-bottom: 0;
}
/* line 26, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front button#currentbtn {
  margin-top: 3.55em;
}
/* line 29, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front #region-postscript-first, body.front #region-postscript-second, body.front #region-postscript-third {
  margin-top: 0.25em;
  padding-top: 0em;
}
/* line 33, ../sass/pdr-omega-alpha-default-narrow.scss */
body.front #region-postscript-third {
  padding-bottom: 0;
}

/* End Frontpage Delta Styling */
/* line 38, ../sass/pdr-omega-alpha-default-narrow.scss */
#region-user-second ul {
  float: none;
  padding: 49px 0 0 0;
}

/* Button Show */
/* line 44, ../sass/pdr-omega-alpha-default-narrow.scss */
button#submitbtn {
  display: inline;
}

/* line 48, ../sass/pdr-omega-alpha-default-narrow.scss */
button#currentbtn {
  display: inline;
}

/*** REGION & ZONE POSITIONING ***/
/* line 53, ../sass/pdr-omega-alpha-default-narrow.scss */
#block-search-form {
  padding-top: 10px;
}

/* line 57, ../sass/pdr-omega-alpha-default-narrow.scss */
#region-sidebar-second .frommag, #region-sidebar-second .fromblog {
  padding-bottom: 0em;
  text-indent: -2em;
  margin-left: 2em;
}

/*** Work Styling ***/
/* line 65, ../sass/pdr-omega-alpha-default-narrow.scss */
div#work p {
  font-size: 150%;
}

/*** Table Styling ***/
/* line 71, ../sass/pdr-omega-alpha-default-narrow.scss */
td.views-field-body {
  display: table-cell;
}

/* line 75, ../sass/pdr-omega-alpha-default-narrow.scss */
td.views-field-title {
  min-width: 180px;
}
/* line 77, ../sass/pdr-omega-alpha-default-narrow.scss */
td.views-field-title a {
  display: inline;
  text-align: center;
}
