/* Variables */
$baseRed: #991F1F;
$grey: #333;
$wall: url(../images/bk_body.png);
$serif: Georgia, "Chaparral Pro", "Times New Roman", Times, serif;
$sans: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;