/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Import SASS Base Partial */
@import "base";

/* Icon Font */
@font-face {
	font-family: 'bkp';
	src:url('../fonts/bkp.eot');
	src:url('../fonts/bkp.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bkp.woff') format('woff'),
		url('../fonts/bkp.ttf') format('truetype'),
		url('../fonts/bkp.svg#bkp') format('svg');
	font-weight: normal;
	font-style: normal;
}

p.icon {
	@include icon;	
}

span.icon {
	@include icon;
	font-size: 12px;
	color: $baseRed;
	padding-left: 0.75em;
}

body {
	font-family: $serif;
	color: $grey;
	font-weight: 300;
	background: $wall;
}

p {
	font-size: 125%; /* 16px in Chrome for Mac */
	line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
	font-weight: 700;
}

h1 {
	font-size: 1.355em;
	&.title {
		font-size: 2.75em; /* approx 36px */ 
	}
}

h2 {
	font-size: 1.3em;
	&.block-title {
		font-size: 1.5em;
		padding-bottom: 0.4em;
	}
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.15em;
}

blockquote em {
	font-style: normal;
}

/* Link Styling */
a {
	&:link {
		text-decoration: none;
		color: $baseRed;
	}
	&:hover, &:active {
		text-decoration:underline;
	}
	&:focus {
		outline: none;
	}
	&:visited {
		color: desaturate($baseRed, 20%);
	}
}

/*** Frontpage Delta Styling ***/
body.front {
	#region-user-second button#submitbtn {
		display: none;
	}
	#region-content {
		.slideshow-image {
			position:relative;
		}
		.slideshow-caption {
			position: relative;
			font-family: $sans;
			color: #FFF;
			background: #666;
			background: rgba(0,0,0,0.5);
			padding: 0.5em 2em 0.25em 0.75em;
			a {
				color: #FFF;
				font-weight: 700;
				text-decoration: underline;

			}
		}
	}
	.frommag ul {
		font-family: $sans;
		font-weight: 700;
		list-style: none;
		li {
			padding-bottom: 0.85em;
		}
	}
	.frommag p.more {
		display: none;
	}
	.fromblog {
		font-family: $sans;
		font-weight: 700;
		div.blogdate {
			font-family: $serif;
			font-size: 0.9em;
			font-weight: 300;
			padding-bottom: 1.5em;
		}
	}
	#region-postscript-first {
		margin-top: 0em;
		padding-top: 0.55em;
	}
	#region-postscript-third {
		padding-bottom: 1.5em;
	}
}
/*** End Frontpage Delta Styling ***/

/*** Sidebar Styling ***/

#region-sidebar-second .block {
	padding-bottom: 1.5em;
	p {
		font-size: 1.1em;
		line-height: 140%;
	}
	ul {
	list-style: none;
	}
}

#region-sidebar-second .followus p.icon {
	font-size: 32px;
}

/* Social Icon Styling (All Locations) */
.followus p.icon {
	font-size: 32px;
	display: inline;
	padding-right: 0.4em;
	color: $baseRed;
	&#tumblr {
		font-size: 27px;
		vertical-align: 2px;
	}
	a {
		&:link {
			color: $baseRed;
		}
		&:hover, &:active {
			text-decoration:none;
			color: desaturate($baseRed, 50%);
		}
		&:focus {
			outline: none;
		}
		&:visited {
			color: $baseRed;
		}
	}
}



/* Search Button Styling */
#block-search-form input.form-submit[type="submit"] {
	background: $baseRed;
	color: #FFF;
	font-size: 0.85em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: none;
	border: 4px solid $baseRed;
	border-radius: 60px;
	margin-left: 1em;
	&:hover {
		background: transparent;
		color: $baseRed;
	}
}

/* Sibebar More Link Styling */
#region-sidebar-second p.more {
	margin-top: -1em; 
	font-size:90%; 
	text-decoration: underline;
}

/* Issue Sidebars Styling */
#region-sidebar-first .issue, #region-sidebar-second .issue {
	h2 {
		font-variant: small-caps;
		font-size: 1.25em;
		border-bottom: 2px solid $baseRed;
	}
	p {
		font-size: 1.1em;
		line-height: 175%;
		padding: 0;
		margin: 0;
		&.ind {
			padding-left: 1.5em;
		}
		&.ind2 {
			padding-left: 3em;
		}
	}
}

#region-sidebar-first .issue, #region-sidebar-second .issue {
	padding-bottom: 2em;
}

/* Responsive Images & Embeds */
img, embed, object, video {
	max-width: 100%;
	height: auto;
}

img.fixed {

}

/* Logo Positioning */
#region-user-first {
	float: left;
	padding: 20px 0px 0px 0px;
}

/* All Menus Styling */
#region-menu ul.menu li, #region-branding ul.menu li {
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	a {
		display: block;
		color: #FFF;
		font-family: $sans;
		text-decoration: none;
	}
}

/****** Mobile Menu Styling ******/
/* Mobile Menu Icon Positioning */
#region-branding {
	padding-bottom: 1em;
}

#region-branding p {
	padding-left: 0.5em;
	display: inline;
	cursor: pointer;

}

#region-menu {
	display: none;
}

#region-branding p#menu {
	font-family: $sans;
	font-size: 150%;
	font-variant: small-caps;
	font-weight: bold;
	color: $baseRed;
	position: relative;
	top: -4px;
}

#region-menu ul.menu {
	padding-bottom: 1.5em;
	li {

		&:last-child {
			border-bottom: 5px solid $baseRed;
		}
		
		a {
			font-size: 130%;
			padding: 0.5em 1.333em;
			color: #000;
			
			&:hover {
				background: $baseRed;
				color: #FFF;
				text-shadow: 1px 1px #666;
			}
		}
	}	
}

/* Additional Text Styling */
.smallcaps {
	font-variant: small-caps;
}

blockquote {
	border-left:1px dashed #AAAAAA;
	color:#555;
	font-style:italic;
	line-height:18px;
	margin:15px 0 15px 20px;
	padding-left:20px;
}

/* Masthead/Staff Page */

div.staff {
	padding-bottom: 0.5em;
	
	img  {
	float: left;
	padding: 0px 15px 0px 0px;
	background: none;
	}
}

/* Footer */
div#zone-footer-wrapper {
	background-color: #000;
	background-color: rgba(0,0,0,0.6);
}

#region-footer-first p {
	padding-top: 1em;
	color: #FFF;
	text-shadow: 1px 1px #666;
	font-family: $sans;
	font-weight: 300;
	font-size: 0.85em;
	letter-spacing: 0.09em;
}

#region-footer-first p a {
	text-shadow: none;
	font-weight: 700;
	color: light($baseRed, 15%);
}

/**** Buttons ****/
/* Button Positioning */
#region-user-second .btn-3a {
	margin: 10px 10px;
}

/* General button style (reset) */
.btn {
	border: none;
	font-family: $sans;
	text-shadow: none;
	font-size: 14px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
}

/* Button 3 */
.btn-3 {
	background: $baseRed;
	color: #fff;

	&:hover {
		background: darken($baseRed, 5%);
	}

	&:active {
		background: darken($baseRed, 10%);
		top: 2px;
	}

	&:before {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0px;
		line-height: 2.25;
		font-size: 140%;
		min-width: 60px;
	}
}

/* Button 3a */
 .btn-3a {
	padding: 15px 13px 15px 69px;

	&:before {
		@include icon;
		background: rgba(0,0,0,0.05);
	}
} 

 .btn-3b {
 	padding-right: 22px; 
 	width: 225px;
 	font-size: 0.75em;
 }

/* Mobile Only Button Styling */
button#submitbtn {
	display: none;
}

button#currentbtn {
	display: none;
}

/*** ICONS ***/
.icon-eye:before, .icon-pen:before {
	line-height: 2;
}

.icon-eye:before {
	content: "\e006";
}

.icon-pen:before {
	content: "\e013";
}

.icon-pdf:before {
	content: "\e002";
}

.icon-pdf:before, .icon-ebook:before, .icon-money:before, .icon-fire:before {
	line-height: 1.75;
}

.icon-ebook:before {
	content: "\f02d";
}

.icon-money:before {
	content: "\f0d6";
}

.icon-fire:before {
	content: "\f27f";
}

.icon-menu:before {
	content: "\f039";
}

/**** Responsiveness for Views Slideshow *****/
.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
.views_slideshow_cycle_main .field-content img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/*** Table Styling **/
/* All Tables Styling */
table {
	width: 100%;
}

tr.even td {
	background: rgba(0,0,0,0.2);
}

/* Mobile-Only Table Styling */
td.views-field-field-image {
	width: 125px;
}

td.views-field-field-image img {
	padding: 0.5em;
}

td.views-field-body {
	display: none;
	font-size: 0.75em;
}

td.views-field-title {
	text-align: left;
	padding-right: 15px;
	padding-left: 15px;
}

td.views-field-title a {
	display: block;
	font-size: 1em;
	text-align: center;
}

/*** Work Styling ***/
audio {
	padding-bottom: 1em;
}

#region-content div.field-name-field-notes {
	float: right;
	margin-top: 1em;
	background-color: #000;
	background-color: rgba(0,0,0,0.4);
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	padding-right: 1em;
	padding-bottom: 0;
	height: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
	p {
		font-size: 0.95em;
		color: white;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	a {
		color: #FFF;
		font-family: $sans;
		font-weight: 700;
		text-decoration: underline;
	}
	span.icon {
		@include icon;
		color: $baseRed;
		padding-right: 0.5em;
		font-size: 16px;
	}
}

div#work {
	p.epigraph {
		font-size: 100%;
	}
	p.author {
		margin-top: -1em;
		padding-left: 2.5em;
		padding-bottom: 2em;
		em {
			font-variant: small-caps;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: $serif;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.3em;
	}
	.dropcap {
		float: left;
		font-size: 400%;
		margin-top: 14px;
		margin-right: 5px;
		color: $baseRed;
	}
	.red {
		font-weight: bold;
		color: $baseRed;
	}
	#toc {
		ul {
			list-style: none;
			li {
				font-size: 150%;
				line-height: 150%;
			}
		}
		
	}
	blockquote {
		font-size: 115%;
		line-height: 150%
	}
	sup {
		vertical-align: super;
		font-size: 0.75em;
	}
	div.pullquote {
		color: $baseRed;
		font-size: 125%;
		padding: 0 3em;
	}
}

div.poetry {
	p {
		line-height: 130%;
		padding-bottom: 0;
		margin-bottom: 0;
		text-indent: -2em;
		margin-left: 2em;
	}
	p.beforebreak {
		padding-bottom: 1.5em;
	}
	p.indent2 {
		padding-left: 2em;
	}
}

div#bio {
	border-top: 2px solid $baseRed;
	padding-top: 0.75em;
	p {
		font-size: 1em;
		margin-bottom: 0;
		padding-bottom: 1em;
	}
}

/** Blog Entry Styling **/
div.field-type-datetime {
	margin-top: -1.5em;
	padding-bottom: 1.5em;
}
/** Blog Page pager **/
.item-list .pager {
	padding-bottom: 2.5em;
}

.pager li.first a:hover {
	background-color: $baseRed;
}

.pager {
	padding-bottom: 2.5em;
	background: none;
	border: none;
	border-color: none;
	border-radius: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	li {
		border-right: none;
		border-color: none;
		border: 1px solid $baseRed;
		&.pager-next, &.pager-last, &.pager-first, &.pager-previous, &.pager-last.last {
			position: relative;
			top: 0;
			right: 0;
			background: none;
			background-color: none;
			border: 1px solid $baseRed;
		}
		&.first, &.first a, &.pager-last, &.pager-last a, &.pager-last a:hover {
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			background: none;
			background-color: none;
		}
		a {
			background: none;
		}
	}
}
