/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

 /* Import SASS Base Partial */
@import "base";
/*** Frontpage Delta Styling ***/
body.front {
	#region-user-first img {
		width: 357px;
		height: 100px;
	}
	#region-user-second {
		display: block;
		h2 {
			display: none;
		}
		p {
			font-size: 90%;
			line-height: 125%;
			margin-bottom: 0;
		}
	}
	button#currentbtn {
		margin-top: 3.55em;
	}
	#region-postscript-first, #region-postscript-second, #region-postscript-third {
		margin-top: 0.25em;
		padding-top: 0em;
	}
	#region-postscript-third {
		padding-bottom: 0;
	}
}
/* End Frontpage Delta Styling */
#region-user-second ul {
	float: none;
	padding: 49px 0 0 0;
}

/* Button Show */
button#submitbtn {
	display: inline;
}

button#currentbtn {
	display: inline;
}

/*** REGION & ZONE POSITIONING ***/
#block-search-form {
	padding-top: 10px;
}

#region-sidebar-second .frommag, #region-sidebar-second .fromblog {
	padding-bottom: 0em;
	text-indent: -2em;
	margin-left: 2em;
}

/*** Work Styling ***/
div#work {
	p {
		font-size: 150%;
	}
}

/*** Table Styling ***/
td.views-field-body {
    display: table-cell;
}

td.views-field-title {
	min-width: 180px;
	a {
    	display: inline;
    	text-align: center;
	}
}


