/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

 /* Import SASS Base Partial */
@import "base";

/* Text Positioning */
p {
	padding-right: 0.3em;
}

/*** REGION & ZONE POSITIONING ***/
#region-user-second {
	float: right;
	padding: 40px 0px 0px 0px;
}

#region-user-second .btn-3a {
	margin: 10px 25px;
}

div#zone-content, div#zone-header {
	padding-top: 20px;
}

#region-sidebar-first .issue, #region-sidebar-second .issue {
	margin-top: 75px;
} 

/* MAIN MENU STYLING */
div#zone-menu-wrapper {
	 border-top: 1px solid $baseRed;
	 border-bottom: 1px solid $baseRed; 
	 background-color: $opac_black;
} 

#region-menu ul.menu {
	display: inline;
	padding: 0;
	margin: 0;
	background-color: #000;
	background-color: $opac_black;
	border: none;
	
	li {
		/* Unsetting global styles */
		border-top: none;
		border-bottom: none;
	  	padding-right: 0;
	  	float: left;
		width: auto;
		
	&:last-child {
		border: none;
	}

		a {
			display: block;
			padding: 1.2em 15px 0.5em 15px; 
			font-size: 14px; 
			text-transform: uppercase;
			height: 28px;
			color: $baseRed;
			font-weight: 700;
			overflow: visible;
			
			&:hover {
				background: $baseRed;
				color: #FFF;
				text-shadow: 1px 1px #666;
			}
		}
	}	
}


