/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

 /* Import SASS Base Partial */
@import "base";

p {
	padding-right: 0.3em;
}

/* MAIN MENU STYLING */
div#zone-menu-wrapper {
	 border-top: 1px solid $baseRed;
	border-bottom: 1px solid $baseRed; 
	background-color: #000;
} 

#region-menu ul.menu {
	display: inline;
	padding: 0;
	margin: 0;
	background-color: #000;
	border: none;
	
	li {
		/* Unsetting global styles */
		border-top: none;
		border-bottom: none;
		background-color: #000; /* finish unsetting */
	  	padding-right: 0;
	  	float: left;
		width: auto;
		
		a {
			display: block;
			padding: 1.2em 15px 0.5em 15px; 
			font-size: 14px; 
			text-transform: uppercase;
			height: 28px;
			color: $baseRed;
			font-weight: 700;
			overflow: visible;
			
			&:hover {
				background: $baseRed;
				color: #FFF;
				text-shadow: 1px 1px #666;
			}
		}
	}	
}