/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

 /* Import SASS Base Partial */
@import "base";
/*** Frontpage Delta Styling ***/
body.front {
	#region-user-first img {
		width: 357px;
		height: 100px;
	}
	button#currentbtn {
		margin-top: 3.55em;
	}
	#region-postscript-first, #region-postscript-second, #region-postscript-third {
		padding-top: 1em;
	}
	#region-postscript-third {
		padding-bottom: 0;
	}
}
/* End Frontpage Delta Styling */
#region-user-second ul {
	float: none;
	padding: 49px 0 0 0;
}

/* Button Show */
button#submitbtn {
	display: inline;
}

button#currentbtn {
	display: inline;
}

/*** REGION & ZONE POSITIONING ***/
#block-search-form {
	padding-top: 10px;
}